html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100vh;
}

.panel {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  padding: 12px 18px;
  border-radius: 12px;
  z-index: 9999;
  font-family: Arial;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

button {
  margin: 5px 0;
  width: 100%;
  padding: 8px;
}
